# numpy==1.9.1 #Install manually with pip install numpy
# PySide       #Install manually with pip install PySide.  Takes 30min.
ipython[all]
matplotlib
pandas
scipy
sympy
Quandl
antlr4-python2-runtime # For ANTLR grammars
celery